.wrapper,
body,
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Hacen', 'Arial', 'sans-serif';
  line-height: 1.4;
}
body.rtl {
  direction: rtl;
  text-align: right;
}
.logo-name {
  font-size: 40px;
  color: #000757;
}
.container {
  max-width: 100%;
}
.header {
  font-size: 22px;
  color: #333;
}
.menu-item {
  text-decoration: none !important;
  color: #333;
  padding: 0 7.5px;
  line-height: 42px;
}
.menu-container {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.nav-item {
  width: 50%;
  text-align: center;
  border-radius: 0;
  font-size: 18px;
}
.nav-pills {
  padding: 0;
}
.nav-pills .nav-link {
  background-color: #eeeeee;
  color: #333;
  font-size: 18px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #000757;
  color: #fff;
}
.nav-pills .nav-link {
  border-radius: 0;
}
.menu-item.active,
.menu-item:hover {
  background-color: #f0f0f0;
  border-top: 1px solid #000757;
  border-bottom: 1px solid #000757;
}
.list-item {
  background-color: #f0f0f0;
  padding: 7.5px;
}

a.list-news-link,
a.weather-list-link {
  display: block;
  font-size: 18px;
  color: #333;
}
a.list-menu-toggle {
  color: #666;
  font-size: 17px;
  text-decoration: none;
}
a.list-news-link:hover,
a.weather-list-link:hover {
  text-decoration: none;
  color: #000757;
}
.weather-header {
  background-color: #f0f0f0;
  border-right: 3px solid #000757;
  padding: 7.5px 15px;
  font-size: 22px;
  color: #666666;
}
.weather-list-item {
  border: 1px solid #f0f0f0;
  padding: 7.5px;
}
.more-button {
  border: 1px solid #f0f0f0;
  color: #000757;
  font-size: 17px;
  background-color: #fff;
  width: 100%;
  min-height: 40px;
}
.more-button:hover {
  color: #fff;
  background-color: #000757;
}
.text-over-image {
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  width: 100%;
  font-size: 18px;
  color: #fff;
}
.news-text {
  font-size: 18px;
  color: #333;
}
.overflow-auto-x {
  overflow-x: auto;
}
@media (max-width: 991.98px) {
  .container {
    margin: 15px 0 0 !important;
  }
  .logo-container .logo {
    width: 40px;
  }
  .logo-container {
    padding: 0 15px;
    background-color: #e6e6e6;
  }
  .logo-name {
    font-size: 22px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .logo-container,
  .menu,
  .container {
    max-width: 1150px;
    margin: 0 auto;
  }
}
